@import "../Components/buttons-artist.scss";

.artists {
  @include padding(top, 280);
  @include padding(bottom, 82);
  background: url("../images/Morten Harket.png") no-repeat 73% center;
  background-size: cover;
}

.container-artists-track {
  width: 532px;
  @include margin(right, 68);
}