
//margin
@include margin-new-class(bottom, 5);
@include margin-new-class(bottom, 10);
@include margin-new-class(bottom, 15);
@include margin-new-class(bottom, 20);
@include margin-new-class(bottom, 16);
@include margin-new-class(bottom, 25);
@include margin-new-class(bottom, 30);
@include margin-new-class(bottom, 40);
@include margin-new-class(bottom, 45);
@include margin-new-class(bottom, 50);
@include margin-new-class(bottom, 70);

.button-artist {
  @include margin(right, 35);
}

.mobile-app-margin {
  @include margin(right, 210);
}

//padding
@include padding-new-class(bottom, 5);
@include padding-new-class(bottom, 100);
@include padding-new-class(top, 100);

.padding-horizontal-25 {
  padding: 0 25px;
}

.padding-top-news {
  @include padding(top, 100);
}

//width
.width-87 {
  width: 87%;
}

.news-author-width{
  max-width: 210px;
}

.mobile-app-text-width {
  max-width: 566px;
}
