@import "../Components/button-discography.scss";

.albums {
  width: 250px;
  height: 250px;
  position: relative;
}

.album-picture {
  width: 100%;
}

.discography-container, .similar-singers-container  {
  margin: -25px;
}