.footer-background {
  background: $background-gradient-purple-orange;
}

.container-footer-menu-1 {
  width: 1020px;
  @include padding(top, 80);
  @include padding(bottom, 100);
}

.container-footer-menu-2 {
  width: 534px;
  @include padding-all(50px, 0);
}

.separator-big {
  margin: 0;
  color: $color-silver;
}