@import "../Components/_button-subscription.scss";

.subscription-container {
  padding: 25px 25px 50px;
  box-sizing: border-box;
  @include align-items();
  height: 570px;
}

.subscription-container-width {
  max-width: 352px;
}

.background-subscription-free {
  @include background-image("../images/subscribe_1.png");
}

.background-subscription-standart {
  @include background-image("../images/subscribe_2.png");
}

.background-subscription-premium {
  @include background-image("../images/subscribe_3.png");
}


