.button-registration-form {
  width: 570px;
  height: 50px;
}

.button-registration-form-decor {
  background-color: $background-green;
  border-radius: 3px;
  border: 1px $background-green solid;
  box-sizing: border-box;
  cursor: pointer;
}