.searching-form {
  width: 278px;
  height: 26px;
}

.searching-decor {
  background: $background-gray;
  border: 1px $background-gray solid;
  border-radius: 50px;
  outline: none;
  text-indent: 14px;
}
